name: blocksense-hackaton
services:
  anvil:
    image: ghcr.io/foundry-rs/foundry:nightly-0688b5ad19a637303c038d1a66aec62a73713e20 
    entrypoint: [ 'sh', '-c', 'anvil -p 8545 --host 0.0.0.0 --fork-url "https://ethereum-sepolia-rpc.publicnode.com" --chain-id 99999999999' ]
      #entrypoint: [ 'sh', '-c', 'anvil -p 8545 --host 0.0.0.0 --fork-url "wss://polygon-amoy-bor-rpc.publicnode.com" --chain-id 99999999999' ]

    ports:
      - '8545:8545'
    networks:
      - backend
    healthcheck:
      test: wget http://0.0.0.0:8545 2>&1 | grep -c 'Bad Request' > /dev/null
      interval: 5s
      timeout: 5s
      retries: 1


  sequencer:
    image: ymadzhunkov/blocksense_hackaton:sequencer
    ports:
      - '8877:8877'
      - '25555:25555'
      - '25556:25556'
    volumes:
      - ./config/feeds_config.json:/usr/local/blocksense/feeds_config.json
      - ./config/sequencer_config.json:/usr/local/blocksense/apps/sequencer/sequencer_config.json
      - ./config/sequencer_priv_key_test:/tmp/priv_key_test
    networks:
      - backend
    healthcheck:
      test: [ CMD-SHELL, 'wget http://0.0.0.0:8877 2>&1 | grep -c "ERROR 404: Not Found" > /dev/null' ]
      interval: 5s
      timeout: 5s
      retries: 1
    depends_on:
      anvil:
        condition: service_healthy
      scdeploy:
        condition: service_completed_successfully

  scdeploy:
    image: ymadzhunkov/blocksense_hackaton:scdeploy
    environment:
      - RPC_URL_LOCAL=http://anvil:8545
    volumes:
      - ./config/feeds_config.json:/usr/local/blocksense/config/feeds_config.json
    networks:
      - backend
    depends_on:
      anvil:
        condition: service_healthy


  reporter:
    image: ymadzhunkov/blocksense_hackaton:reporter
    networks:
      - backend
    volumes:
      - ./config/reporter_config.json:/usr/local/blocksense/apps/reporter/reporter_config.json
      - ./config/reporter_secret_key:/usr/local/blocksense/apps/reporter/reporter_secret_key
      - ./examples/yahoo:/usr/local/blocksense/oracles/yahoo
      - ./examples/revolut:/usr/local/blocksense/oracles/revolut
      - ./examples/cmc:/usr/local/blocksense/oracles/cmc
      - ./examples/string_oracle:/usr/local/blocksense/oracles/string_oracle
    #entrypoint: [ '/bin/sh', '-c', 'cd /usr/local/blocksense/oracles/string_oracle && /spin up' ]
    entrypoint: [ '/bin/sh', '-c', 'cd /usr/local/blocksense/oracles/revolut && /spin up' ]
    #entrypoint: ['/bin/sh', '-c', 'cd /usr/local/blocksense/oracles/yahoo && /spin up']
    #entrypoint: ['/bin/sh', '-c', 'cd /usr/local/blocksense/oracles/cmc && /spin up']

    depends_on:
      sequencer:
        condition: service_healthy

networks:
  backend:
    driver: bridge
